.accordion {
  margin-bottom: .5em;
  &__trigger {
    cursor: pointer;
    font-weight: 700;
    padding: .5em 0;

    display: flex;
    align-items: center;
    justify-content: space-between;

    & svg {
      transition: transform 180ms ease-in-out;
      width: 24px;
    }

    &:hover {
     text-decoration: underline;
    }
  }

  &__content {
    transition: all 300ms ease-in-out;
    max-height: 0;
    overflow: hidden;
    border-bottom: 2px solid rgb(80, 79, 79);
    
  }

  &[data-open="true"] {
    .accordion__trigger {
      & svg {
        transform: rotate(180deg);
      }
    }
    .accordion__content {
      max-height: 100vh;
      padding-bottom: .5em;
    }
  }
}
